$wg-brakepoint-large: 1200px;
$wg-brakepoint-medium: 972px;
$wg-brakepoint-small: 768px;
$wg-brakepoint-minimal: 360px;
$wg-gutter: 8px; 
$wg-border-width: 1px;
$wg-border-style: solid;
$wg-border-radius: 4px;
$wg-box-shadow-x: 0.001px;
$wg-box-shadow-y: 2px;
$wg-box-shadow-blur: 8px;
$wg-box-shadow-alpha: 0.08;
$wg-box-shadow-color: 0,0,0;
$wg-color-sys-a: #000000; 
$wg-color-sys-b: #22272C; 
$wg-color-sys-c: #43515D; 
$wg-color-sys-d: #5E6878; 
$wg-color-sys-e: #768091; 
$wg-color-sys-f: #8C95A3; 
$wg-color-sys-g: #BABFC8; 
$wg-color-sys-h: #E5E7EB; 
$wg-color-sys-i: #F2F3F5; 
$wg-color-sys-j: #F7F8F9; 
$wg-color-sys-k: #FFFFFF; 
$wg-color-error: #FF4444; 
$wg-color-warning: #FFbb33; 
$wg-color-success: #00C851; 
$wg-color-info: #33B5E5; 
$wg-color-primary: #0BD57D;
$wg-color-secondary: #6F5BED;
$wg-font-size: 14px; 
$wg-heading-size: 14px;
$wg-font-family-primary: 'Montserrat', Helvetica; 
$wg-font-family-secondary: 'Open Sans', Helvetica;
$wg-font-weight-light: 100;
$wg-font-weight-regular: 400;
$wg-font-weight-semi-bold: 600; 
$wg-font-weight-bold: 700; 
$wg-font-weight-heavy: 900; 
$wg-line-height: 100%;
$wg-line-height-l: 125%;
$wg-line-height-xl: 150%;
$wg-line-height-xxl: 175%;
$wg-line-height-body: 200%; 
$wg-input-height: 48px; 
$wg-transition-duration: 1s; 
$wg-transition-timing-function: cubic-bezier(0.5,0,0,1); 

