:root {
  --border-radius: 4px;
  
  --gutter: 20px;
  --gutter-half: calc(var(--gutter) / 2);
  --gutter-double: calc(var(--gutter) * 2);
  
  --speed: 200ms;
  --speed-slower: calc(var(--normal-speed) / 2);
  --speed-faster: calc(var(--normal-speed) * 2);
  --cubic-bezier: cubic-bezier(.67,-1.07,.26,1.93);

  --base-font-size: 16px;
}
