.wg-form {
  .wg-field {
    position: relative;
    margin-bottom: var(--gutter);
    &__label {
      font-size: 0.9em;
      margin-bottom: var(--gutter-half);
    }
    &__input {
      display: block;
      box-sizing: border-box;
      height: 40px;
      width: 100%;
      padding: 0 var(--gutter);
      border: 1px solid var(--color-neutral);
      outline: none;
    }
  }
}